<div class="row" style="background-color: Wheat">
  <div class="col-xs-12">
    <h1><center>Olá preencha por favor!</center></h1>
</div>

<div class="col-md-6 col-md-offset-3 col-xs-12">

  <%= form_for @user do |f| %>
  
    <%= render 'form', f: f %>

    <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
   <% end %>
  </div>
 </div>
</div>