<div class="jumbotron" style="background-color: SpringGreen">
<center>
  <h1 style="font-family: Algebran">Gerenciando</h1>
  <p>
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie sua conta', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
  </center>
</div>