<div class="jumbotron" style="background-color: SpringGreen">
<center>
  <h1 style="font-family: Algebran">Gerenciando</h1>
  <p style="font-style: italic">
    Gerencie seus Produtos & Contatos!
  </p>
  <p>
    <%= link_to 'Abra sua conta', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
  </center>
</div>