<div class="jumbotron" style="background-color: CornflowerBlue">
<center>
  <h1 style="font-family: Algebran">Seus compromissos em suas mãos!</h1>
  <p style="font-style: italic">
    SEMPRE PERTO DE VOCÊ!
  </p>
  </center>
</div>