/*trouxe estas importações do github oficial*/
/*https://github.com/twbs/bootstrap-sass*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";

/*esta é uma varivel definida por mim*/
/*definindo uma varivel em sass*/
$gray-medium-light: #EAEAEA;

/*teste inicio*/
.post-card {
    display: inline-block;
  }
  
  .post-legenda {
    display: inline-block;
    font-size: 10px;
    color: gray;
  }
  
  .caption {
    .legenda {
      padding-top: 5px;
      text-align: center;
    }
  }

/*teste fim*/

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  /*neste momento estamos usando variveis para cores => $gray-light que já são definidas pelo bootstrap*/
  color: $gray-light;

  a{
      color: $gray;
      &:hover{
          color: $gray-darker;
      }
  }
  small{
      float: left;
  }
  ul {
      float: right;
      list-style: none;
  
  li {
      float: left;
      margin-left: 15px;
  }
 }
}

