<div class="row">
<div class="col-xs-12 text-center">
  <h1 style="color: green">Produto criado com sucesso!!</h1>
  <hr />
  <div class="form-group">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
</div>

<div class="form-group">
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
</div>

<%= link_to 'Edite', edit_product_path(@product), class: 'btn btn-warning' %> |
<%= link_to 'Voltar', products_path, class: 'btn btn-primary' %>
</div>
</div>






