<footer>
 <small>
   <%= link_to 'Todos os direitos reservados.' %>
 </small>

 <nav>
   <ul>
     <li>
     <!--contato_path o rails vai gerar dinâmicamente o caminho ele vai buscar lá no arquivo root.rb -->
     <!--é um método usado no ruby onde usaremos o caminho relativo de nossa aplicação lá no arquivo route.rb -->
       <%= link_to 'Sobre', sobre_path %>
     </li>
     <li>
       <%= link_to 'Contato', contato_path %>
     </li>
   </ul>
 </nav>
</footer>